.recibo {
    padding: 5px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #000;
}

.recibos {
    font-size: 20px;
    color: #000;
}

.numeroRecibo {
    font-size: 20px;
}

.testeTamanho {
    height: 200px;
}